---
import { Category } from "@src/types/category";
import { getLangFromUrl, useTranslations } from "@i18n/utils";
import { ui } from "@i18n/ui";
import { formatDate } from "@utils/formatDate";
import { authors } from "@src/content/_authors";
import ShareBlock from "@src/components/astro/ShareBlock/ShareBlock.astro";

const lang = getLangFromUrl(Astro.url.pathname);
const t = useTranslations(lang, ui);
interface MetaInfo {
  age: string,
  priceRange: string,
}

type Author = {
  fullName: string;
  link: string;
}
interface Props {
  thumbnail: string;
  title: string;
  subtitle: string;
  content: any;
  category?: Category;
  meta?: MetaInfo;
  author?: Author;
  date?: string;
}

const { thumbnail, title, content, category, meta, author, date } = Astro.props;
---

<article class="article" data-pagefind-body>
  <header class="article__header">
    <div class="article__imgWrap">
      <slot name="thumbnail" class="article__img" />
    </div>

    <div class="article__headerInfo">
      <div>
        <h1 class="article__title">{title}</h1>
        {category && <p class="article__category">{category}</p>}
        {author &&
          <div class="article__authorBlock">
            <address class="article__author">By <a rel="author" href={authors[author].link}>{authors[author].fullName}</a>,</address>
            <span>{formatDate(date)}</span>
          </div>
        }
      </div>

      <div>
        <slot name="related-products" />
      </div>
    </div>
  </header>

  <slot name="ads" />

  <div class="article__content">
    <slot name="content" />
  </div>

  <aside class="article__aside">
    <ShareBlock />
  </aside>
</article>

<style lang="scss">
	.article {
		&__title {
			font-size: 1.5rem;
			margin-bottom: 0;
		}

		&__subtitle {
			color: var(--c-grey-dark);
			font-style: italic;
		}

		&__authorBlock {
			font-style: italic;
			margin-bottom: 1rem;
		}

		&__author {
			font-style: italic;
			display: inline;
		}

		&__category {
			color: var(--c-secondary);
			font-style: italic;

			&:first-letter {
				text-transform: uppercase;
			}
		}

		&__age {
			font-size: 0.9rem;
			margin-bottom: 0.2rem;
		}

		&__imgWrap {
			border-radius: 10px;
			overflow: hidden;
			margin-bottom: 1rem;
			max-height: 40vh;
			width: 100%;
			margin-right: 15px;

			@media (min-width: 600px) {
				max-width: 300px;
				margin-bottom: 0;
			}
		}

		&__header {
			margin-bottom: 2rem;

			@media (min-width: 600px) {
				display: flex;
			}
		}

		&__headerInfo {
			display: flex;
			flex-direction: column;
			flex-shrink: 2;
			justify-content: space-between;
		}

		&__content {
			text-align: justify;
		}

    &__aside {
      border-top: 1px solid var(--c-grey-light);
      margin: 2rem 0;
      padding: 1rem 0;
    }
	}
</style>
