---
import { getCollection } from "astro:content";
import { getCleanSlug, getLangFromUrl, useTranslatedPath, useTranslations } from "@i18n/utils.ts";
import { Category } from "../../types/category";
import { ui } from "../../i18n/ui";

const gifts = await getCollection("gifts");
const lang = getLangFromUrl(Astro.url.pathname);

const categories: Category[] = ["for-women", "for-men", "for-kids", "for-teens"];
const t = useTranslations(lang, ui);

const generateLinks = () => {
  let links: [string, Category][] = [];

  categories.forEach((category) => {
    const firstItem = gifts.find((i) => i.data.category?.includes(category));

    if (!!firstItem) {
      const firstItemSlug = firstItem?.slug;
      const translatePath = useTranslatedPath(lang);

      const link = translatePath(`/gifts/${category}/${getCleanSlug(firstItemSlug)}`);

      links.push([link, category]);
    }
  });

  return links;
};

const categoryLinks = generateLinks();

const { activeCategory } = Astro.props;
---

<div class=".categoryFilter">
  {categoryLinks.map((i) => {
    const navItemClass = activeCategory === i[1] ? "categoryFilter__link_active" : "";

    return (
      <a class={`categoryFilter__link ${navItemClass}`} href={i[0]}>
        {t(i[1])}
      </a>
    );
  })}
</div>

<style lang="scss">
	.categoryFilter {
		margin-bottom: 0.5rem;
		max-height: 150px;
		display: flex;
		flex-flow: row wrap;

		&__link {
			text-align: center;
			display: inline-block;
			border: 1px solid #fff;
			border-radius: 2px;
			margin-right: 5px;
			font-size: 0.85rem;
			padding: 0.2rem 10px;
			margin-bottom: 5px;

			&:first-letter {
				text-transform: capitalize;
			}
		}

		&__link_active {
			background: #fff;
		}
	}
</style>
