---
import { getCollection } from "astro:content";
import { Image } from "astro:assets";
import { Category } from "../../types/category.ts";
import GiftCard from "../react/GiftCard";
import { getCleanSlug, getLangFromSlug, getLangFromUrl, getLocaleFromUrl, useTranslatedPath } from "../../i18n/utils";

const { category, activeGiftSlug }: { category: Category, activeGiftSlug: string } = Astro.props;
const locale = getLocaleFromUrl(Astro.url.pathname);
const lang = getLangFromUrl(Astro.url.pathname);
const translatePath = useTranslatedPath(locale);

let gifts = await getCollection("gifts");
let filtered = gifts.filter((i) => i.data?.category === category).filter(i => getLangFromSlug(i.slug) === lang);
const getLink = (slug: string, category?: Category): string => translatePath(`/gifts/${category}/${getCleanSlug(slug)}`);
---


<div class="giftList">
  {!!filtered.length && filtered.map((i, index) => (
    <GiftCard
      index={index + 1}
      key={i.slug}
      title={i.data.title}
      description={i.data.description}
      link={getLink(i.slug, category)}
      active={getCleanSlug(i.slug) === activeGiftSlug}
    >
      <Image src={i.data.thumbnail} alt={i.data.title} class="img-cover" width="100" height="100" />
    </GiftCard>
  ))}
</div>

<style>
    .giftList {
        overflow-y: auto;
        max-height: 88vh;
        padding: 0 5px;
    }
</style>