---
import { getCollection } from "astro:content";
import { locales } from "@i18n/ui.ts";
import { getLocaleFromSlug, getCleanSlug } from "@i18n/utils.ts";
import Layout from "@layouts/Layout.astro";
import PostItem from "@components/astro/PostItem.astro";
import Pagination from "@components/astro/Pagination.astro";
import { formatDate } from "@utils/formatDate";
import { getLocaleFromUrl } from "@i18n/utils";

export async function getStaticPaths({ paginate }): any {
  const PAGE_SIZE = 12;

  const postsEntries = await getCollection("posts");

  return locales.flatMap((locale) => {
    const filteredPosts = postsEntries
      .filter((post) => getLocaleFromSlug(post.slug) === locale)
      .sort((prev, cur) => new Date(cur.data.date) - new Date(prev.data.date));

    return paginate(filteredPosts, {
      params: { lang: locale },
      pageSize: PAGE_SIZE
    });
  });
}

const { page } = Astro.props;
---

<Layout title='Posts page'>
  <div class="posts-page">
    <div class="posts-page__posts">
      {page.data.map(i => (
        <PostItem
          thumbnail={i.data?.thumbnail}
          title={i.data.title}
          description={i.data.description}
          href={`/${getLocaleFromSlug(i.slug)}/posts/${getCleanSlug(i.slug)}`}
          author
          date={formatDate(i.data.date)}
        />
      ))}
    </div>
  </div>

  { page.lastPage > 1 && <div class="posts-page__pagination">
    <Pagination
      length={page.lastPage}
      currentUrl={page.url.current}
      currentPage={page.currentPage}
      firstUrl={`/${getLocaleFromUrl(page.url.current)}/posts`}
      prevUrl={page.url.prev}
      nextUrl={page.url.next}
      lastUrl={`/${getLocaleFromUrl(page.url.current)}/posts/${page.lastPage}`}
    />
  </div> }

</Layout>

<style lang="scss">
	.posts-page {
		&__posts {
			margin: 0 auto;
			display: grid;
			gap: 30px;
			grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
		}

    &__pagination {
        display: flex;
        justify-content: center;
        margin: 5rem 0 0;
    }
	}
</style>