---
import { getCollection } from "astro:content";
import { locales } from "@i18n/ui.ts";
import { getLocaleFromSlug, getCleanSlug } from "@i18n/utils.ts";
import Layout from "@layouts/Layout.astro";
import PostItem from "@components/astro/PostItem.astro";
import { formatDate } from "@utils/formatDate";

export async function getStaticPaths({ paginate }): any {
  const postsEntries = await getCollection("posts");

  return locales.flatMap((locale) => {
    const filteredPosts = postsEntries.filter((post) => getLocaleFromSlug(post.slug) === locale);

    return paginate(filteredPosts, {
      params: { lang: locale },
      pageSize: 6,
    });
  });
}

const { page } = Astro.props;
---

<Layout title={`Posts page - ${page.currentPage}`}>
  <div class="posts-container">
    {page.data.map(i => (
      <PostItem
        thumbnail={i.data?.thumbnail}
        title={i.data.title}
        description={i.data.description}
        href={`/${getLocaleFromSlug(i.slug)}/posts/${getCleanSlug(i.slug)}`}
        author
        date={formatDate(i.data.date)}
      />
    ))}
  </div>

  {page.url.prev ? <a href={page.url.prev}>Previous</a> : null}
  {page.url.next ? <a href={page.url.next}>Next</a> : null}
</Layout>

<style lang="scss">
	.posts-container {
		margin: 0 auto;
		display: grid;
		gap: 30px;
		grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
	}
</style>