---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";

import { getLocaleFromUrl, getLangFromUrl, useTranslations, getLocaleFromSlug, getCleanSlug } from "@i18n/utils";
import { ui } from "@i18n/ui";
import PostItem from '@astroComponents/PostItem.astro';
import { Image } from "astro:assets";
import { formatDate } from "@utils/formatDate";

const URL = Astro.url.pathname;
const lang = getLangFromUrl(URL);
const locale = getLocaleFromUrl(URL);
const t = useTranslations(lang, ui);

const posts = await getCollection("posts", ({ slug }) => {
  return getLocaleFromSlug(slug) === locale;
});

export async function getStaticPaths() {
  const giftsEntries = await getCollection("posts");

  return giftsEntries.map((entry) => ({
    params: { lang: getLocaleFromSlug(entry.slug) },
    props: { entry }
  }));
}
---

<Layout title={"Posts page"}>
  <div class="posts-container">
    {posts.map(i => (
      <PostItem
        thumbnail={i.data?.thumbnail}
        title={i.data.title}
        description={i.data.description}
        href={`/${locale}/posts/${getCleanSlug(i.slug)}`}
        author
        date={formatDate(i.data.date)}
      />
    ))}
  </div>
</Layout>

<style lang="scss">
	.posts-container {
		margin: 0 auto;
		display: grid;
		gap: 30px;
		grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
	}
</style>