---
import { getCollection } from "astro:content";
import { Image } from "astro:assets";
import { Category } from "../types/category.ts";
import GiftCard from "@components/GiftCard";

const { category, activeGiftSlug }: { category: Category, activeGiftSlug: string } = Astro.props;

let gifts = await getCollection("gifts");
let filtered = !!category ? gifts.filter((i: any) => i.data?.category === category) : gifts;
const getLink = (slug: string, category?: Category): string => category ? `/gifts/${category}/${slug}` : `/gifts/${slug}`;
---


<div class="giftList">
  {!!filtered.length && filtered.map((i: any, index: number) => (
    <GiftCard
      index={index + 1}
      key={i.slug}
      title={i.data.title}
      description={i.data.description}
      link={getLink(i.slug, category)}
      active={i.slug === activeGiftSlug}
    >
      <Image src={i.data.thumbnail} alt={i.data.title} class="img-cover" width="100" height="100" />
    </GiftCard>
  ))}
</div>

<style>
    .giftList {
        overflow-y: auto;
        max-height: 88vh;
    }
</style>