---
import { getLangFromUrl, getLocaleFromUrl } from "../i18n/utils";
import { removeTrailingSlash } from "../utils/removeTrailingSlash";

import LangSwitcher from "../components/react/LangSwitcher";
import Navigation from "../components/react/Navigation";
import LogoDark from "../components/react/LogoDark";
import MobileMenu from "../components/react/MobileMenu";
import Search from "../components/react/Search";

const URL = Astro.url.pathname;

const locale = getLocaleFromUrl(URL);
const lang = getLangFromUrl(URL);
const pathname = removeTrailingSlash(URL);
---

<header id="website_header" class="header">
  <div class="header__container">
    <a class="header__logo" href={`/${locale}`}>
      <LogoDark />
    </a>

    <div class="header__nav">
      <Navigation currentPage={pathname} />
    </div>

    <div class="header__rightSlot">
      <Search client:load lang={lang} />
      <LangSwitcher pathname={pathname} />
    </div>

    <div class="header__mobileNav">
      <MobileMenu client:load>
        <Navigation currentPage={pathname} slot="navigation" type="mobile" />
      </MobileMenu>
    </div>
  </div>
</header>

<style lang="scss">
	.header {
	  position: sticky;
	  top: -100px;
    z-index: 10;
	  transition: 0.2s;

    &_sticky {
		  top: 0;
      backdrop-filter: blur(10px);
      background: rgba(255,255,255, 0.25);
    }

		&__container {
			padding: .5rem 15px;
			display: flex;
			flex-flow: row wrap;
			justify-content: space-between;
			align-items: center;
			max-width: 1300px;
			margin: 0 auto;
		}

		&__logo {
			display: block;
			width: 165px;
			transition: 0.3s transform;
			cursor: pointer;

			&:hover {
				transform: scale(1.04);
			}
		}

		&__rightSlot {
			display: none;

			@media screen and (min-width: 960px) {
				display: flex;
        gap: 10px;
			}
		}

		&__nav {
			display: none;

			@media screen and (min-width: 960px) {
				display: block;
			}
		}

		&__mobileNav {
			@media screen and (min-width: 960px) {
				display: none;
			}
		}
	}
</style>

<script client:load>
  document.addEventListener('astro:page-load', () => {
    const header = document.getElementById('website_header');
    function throttle(func, limit) {
      let inThrottle = false;

      return function() {
        if (!inThrottle) {
          func.apply(this, arguments);
          inThrottle = true;

          setTimeout(() => {
            inThrottle = false;
          }, limit);
        }
      };
    }

    const handleScroll = throttle((e) => {
      const offset = e.target.scrollY || e.target.documentElement.scrollTop;

      if(offset > 500) {
        header.classList.add('header_sticky');
      } else {
        header.classList.remove('header_sticky');
      }
    }, 50);


    if(header) window.addEventListener('scroll', handleScroll)
  });
</script>
