---
import { getLangFromUrl, getLocaleFromUrl } from "../i18n/utils";
import { removeTrailingSlash } from "../utils/removeTrailingSlash";

import LangSwitcher from "../components/react/LangSwitcher";
import Navigation from "../components/react/Navigation";
import LogoDark from "../components/react/LogoDark";
import MobileMenu from "../components/react/MobileMenu";
import Search from "../components/react/Search";

const URL = Astro.url.pathname;

const locale = getLocaleFromUrl(URL);
const lang = getLangFromUrl(URL);
const pathname = removeTrailingSlash(URL);
---

<header class="header">
  <div class="header__container">
    <a class="header__logo" href={`/${locale}`}>
      <LogoDark />
    </a>

    <div class="header__nav">
      <Navigation currentPage={pathname} />
    </div>

    <div class="header__rightSlot">
      <LangSwitcher pathname={pathname} />
      <Search client:load lang={lang} />
    </div>

    <div class="header__mobileNav">
      <MobileMenu client:load>
        <Navigation currentPage={pathname} slot="navigation" type="mobile" />
      </MobileMenu>
    </div>
  </div>
</header>

<style lang="scss">
	.header {
		&__container {
			padding: .5rem 15px;
			display: flex;
			flex-flow: row wrap;
			justify-content: space-between;
			align-items: center;
			max-width: 1300px;
			margin: 0 auto;
		}

		&__logo {
			display: block;
			width: 165px;
			transition: 0.3s transform;
			cursor: pointer;

			&:hover {
				transform: scale(1.04);
			}
		}

		&__rightSlot {
			display: none;

			@media screen and (min-width: 960px) {
				display: flex;
        gap: 10px;
			}
		}

		&__nav {
			display: none;

			@media screen and (min-width: 960px) {
				display: block;
			}
		}

		&__mobileNav {
			@media screen and (min-width: 960px) {
				display: none;
			}
		}
	}
</style>
