---
import Head from "./Head.astro";
import Header from "./Header.astro";
import Footer from "./Footer.astro";

import { getLangFromUrl, useTranslations, getLocaleFromUrl } from "@i18n/utils";
import { ui } from "@i18n/ui";

import "../styles/global.scss";

interface Props {
	title: string;
	isLanding: boolean;
	hasHeader: boolean;
	hasFooter: boolean;
}

const URL = Astro.url.pathname;

const {title, isLanding, hasHeader = true, hasFooter = true} = Astro.props;
const lang = getLangFromUrl(URL);
const locale = getLocaleFromUrl(URL);
const t = useTranslations(lang, ui);

const hasSidebar = !!Astro.slots.has('sidebar');
---

<!doctype html>
<html lang={lang}>
<Head title={title}/>
<body class='body' id="body">
{hasHeader &&
  <Header transition:persist />}
{isLanding ?
  <main>
    <slot/>
  </main> : (
    <div class:list={['app', {app_hasSidebar: hasSidebar}]}>
      <main class="app__main">
        <slot/>
      </main>

			{hasSidebar && (
        <aside id='sidebar' class="app__sidebar" data-pagefind-ignore="all">
          <button class="app__sidebarToggleBtn" id='sidebar_toggle'>View all ideas</button>
          <slot name='sidebar'/>
        </aside>
			)}
    </div>
	)}
{hasFooter &&
  <Footer/>}
</body>
</html>

<style lang="scss">
	.body {
		background-color: #f8f9fa;
		background-attachment: fixed;
		background-size: cover;

		&_noScroll {
			overflow: hidden;
		}
	}

	.app {
		$this: &;

		max-width: 1300px;
		min-height: calc(100vh - 135px);
		padding: 3rem 15px;
		margin: 0 auto;

		&_hasSidebar {
			display: flex;
			flex-flow: row wrap;
			gap: 30px;

			#{$this}__main {
				flex-basis: 650px;
				width: 100%;
				flex-grow: 1;
			}

			#{$this}__sidebar {
				padding: 20px 1rem;
				width: 100%;
				max-width: 360px;
				position: fixed;
				top: 0;
				right: -360px;
				min-height: 100dvh;
				background: #f1f8ff;
				z-index: 5;
				transition: .3s;
				will-change: right;

				@media (min-width: 1200px) {
					all: unset;
					position: static;
					max-width: 400px;
				}
			}

			#{$this}__sidebarToggleBtn {
				transform: rotateZ(-90deg);
				white-space: nowrap;
				transform-origin: bottom right;
				cursor: pointer;
				padding: 7px 25px;
				font-size: 0.85rem;
				text-transform: uppercase;
				color: #fff;
				border-radius: 3px;
				background: var(--c-primary);
				border: none;
				position: absolute;
				top: 100px;
				right: 100%;
				z-index: 2;
			}

			#{$this}__sidebar_active {
				right: 0;
        z-index: 9999;

				&:before {
					display: block;
					content: '';
					width: 100vw;
					height: 100vh;
					position: absolute;
					right: 100%;
					top: 0;
					z-index: 1;
					background: rgb(0, 0, 0, 0.25);
				}
			}
		}
	}
</style>

<script is:inline>
	document.addEventListener('astro:page-load', () => {
		const button = document.querySelector('#sidebar_toggle');
		const sidebar = document.querySelector('#sidebar');
		const body = document.querySelector('#body');

    if(button) {
      button.addEventListener('click', () => {
        sidebar.classList.toggle('app__sidebar_active');
        body.classList.toggle('body_noScroll');
      });
    }
	}, {once: false});
</script>